.club-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

body {
    overflow-x: hidden;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.site-name {
    margin-left: 100px;
}

.font-icon {
    display: flex;
    align-items: center;
    color: blueviolet;
}

@media screen and (max-width:576px) {
    .activity-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .club-container {

        grid-template-columns: repeat(1, 1fr);
    }

    .site-name {
        margin-left: 25spx;
    }
}